name: PHP CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, mysqli
        ini-values: post_max_size=256M

    - name: Install Dependencies
      run: composer install

    - name: Run Tests
      run: composer test
